<footer>
	<div class="container pt-4 footer-box">
		<div class="row">
			<div class="col-lg-8 flex-center">
				<div class="row w-100">
					<div class="col-md-6 mt-5 text-left">
						<p class="footer-headings">Quick Links</p>
						<a href="#">Home</a></br>
						<a href="#">About Us</a></br>
						<a href="#">Log In</a></br>
						<a href="#">Dashboard</a></br>
					</div>
					<div class="col-md-6 mt-5 text-left">
						<p class="footer-headings">Developers</p>
						<a href="#">Ankit Devani</a></br>
						<a href="#">Tirth Kanani</a></br>
						<a href="#">Vinay Kakkad</a></br>
					</div>
					<div class="mt-5 line"></div>
					<div class="row px-4 w-100">
						<div class="mr-auto"><small>© ATVopolis</small></div>
						<div class="ml-auto float-right">
							<h5>
								<a href="#"><i class="fab fa-youtube"></i></a>&emsp14;
								<a href="#"><i class="fas fa-envelope"></i></a>&emsp14;
								<a href="#"><i class="fab fa-twitter"></i></a>&emsp14;
							</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 flex center">
				<img src="{{ url_for('static', filename='images/flight.png') }}" alt="" class="w-100"> 
			</div>
		</div>
	</div>
</footer>