/* 	
	1. Globals
	2. Navbar
	3. Sidebar
	4. Footer
	5. Utility 
*/

/* ----- Globals ----- */

:root {
	--base: hsl(0, 0%, 100%);
	--base-1: hsl(0, 0%, 90%);
	--base-2: hsl(0, 0%, 80%);
	--primary-dark-2: hsl(341, 100%, 10%);
	--primary-dark-1: hsl(341, 100%, 20%);
	--primary: hsl(341, 100%, 64%);
	--primary-light-1: hsl(341, 100%, 70%);
	--primary-light-2: hsl(341, 100%, 90%);
	--secondary: hsl(237, 83%, 62%);
	--black: hsl(0, 0%, 0%);
	--light-gray: hsl(0, 0%, 80%);
	--dark-gray: hsl(0, 0%, 60%);
	/* --accent-pink: hsl(313, 72%, 60%); */
}

body {
	background-color: var(--base);
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

a {
	text-decoration: none;
}

/* ----- Navbar ----- */

.nav-main {
	background-color: var(--primary);
	color: var(--base);
	padding-left: 5vw;
	padding-right: 5vw;
}

.nav-link-class {
	background: linear-gradient(var(--base) 0 0) bottom /var(--d, 0) 2px no-repeat;
	transition: 0.5s;
	color: var(--base) !important;
}

.nav-link-class:hover {
	--d: 80%;
}

/* ----- Footer ----- */

footer {
	background-color: var(--primary-light-2);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	text-align: center;
}

.footer-headings {
	color: var(--primary-dark-2);
	font-weight: bold;
	font-size: large;
}

footer a {
	color: var(--dark-gray);
}

footer a:hover {
	color: var(--dark-gray);
	text-decoration: underline;
}

.footer-img {
	width: 300px;
}

.footer-image-box {
	display: flex;
	justify-content: end;
	align-items: flex-end;
}

.line {
	width: 100%;
	border-top: 1px solid var(--dark-gray);
	margin: 12px;
}

/* ----- Utility ----- */

.icons {
	width: 20px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.primary-button {
	background-color: var(--primary);
	color: var(--base);
}

.primary-button:hover {
	background-color: var(--primary-light-1);
	color: var(--base);
}

.w-full {
	width: 100%;
}

